version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aurigraph-website-dev
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=development
      - HUBSPOT_API_KEY=CiRuYTItN2JhMi1mMDg1LTQwMjctYWI2Yi05YmNiZDU2NDlmYjgQoJTTcxjqguwlKhkABeaRgickzwtOeJw2zbLXY1rZQvZpwdkaSgNuYTI
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - aurigraph-network
    restart: unless-stopped

networks:
  aurigraph-network:
    driver: bridge
